{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Mes spots favoris</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="account-spots-favoris">
        <div class="row">
            {% if favorites %}
            {%  for favorite in favorites %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-spots">
                            <img class="card-img-top" src="{{ asset('uploads/spots/'~favorite.spot.picture) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-spot-title">#{{ favorite.spot.id }} {{ favorite.spot.title|length > 18 ? favorite.spot.title|slice(0,18) ~'...': favorite.spot.title }}</h5>
                            <p class="card-spot-description">{{ favorite.spot.description|length > 20 ? favorite.spot.description|slice(0,20) ~'...': favorite.spot.description }}</p>
                            <a href="{{ path('mon-compte/oneSpot', { id : favorite.spot.id }) }}" class="btn btn-primary">Voir</a>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        </section>
    </div>


{% endblock %}


