{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Mes spots favoris</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="account-spots-favoris">
        <div class="row">
            {% if favorites %}
            {%  for favorite in favorites %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-spots">
                            <img class="card-img-top" src="{{ asset('uploads/spots/'~favorite.spot.picture) }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-date"> <i class="fa fa-calendar"> <span>{{ favorite.spot.date|date("d/m/Y à H:h") }}</span></i>  <i class="fa fa-user"> Spoté par  <span>{{ favorite.spot.user }}</span></i></p>
                            <p class="card-infos"><i class="fa fa-map-marker"> {{ favorite.spot.infosSupp }}</i></p>
                            <p class="card-title">Spot #{{ favorite.spot.id }} - <span>{{ favorite.spot.title|length > 10 ? favorite.spot.title|slice(0,10) ~'...': favorite.spot.title }}</span></p>
                            <hr class="mb-4">
                            <p class="card-description">"{{ favorite.spot.description|length > 10 ? favorite.spot.description|slice(0,10) ~'...': favorite.spot.description}}"</p>
                            <a href="{{ path('mon-compte/oneSpot', { id : favorite.spot.id }) }}" class="btn btn-primary">Voir</a>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        </section>
    </div>


{% endblock %}


