{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include 'account/parts/navAccount.html.twig' %}
{% endblock %}
{% block body %}
<div class="account-content">


    <section id="account-title">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h2>Espace personnel</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="account-home">
        <div class="row">
            <div class="card" style="width: 93%;">
                <div class="card-body" href="{{ path('mon-compte/mes-spots-valides') }}">
                    <h5 class="card-title">SPOTS VALIDES</h5>
                    {% if resultByUser.totalNbSpotsValidatedByUser %}
                        <p class="card-text"><span>{{ resultByUser.totalNbSpotsValidatedByUser }}</span></p>
                        <p class="card-text">de vos spots sont validés ! Bravo !</p>
                    {% else %}
                        <p class="card-text">Vous n'avez pas encore spoter ou vos spots sont encore en attente de validation!</p>
                    {% endif %}
                    <a href="{{ path('mon-compte/mes-spots-valides') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_MODERATEUR') %}
        <div class="row">
            <div class="card" style="width: 45%;">
                <div class="card-body">
                    <h5 class="card-title">SPOTS en attente de validation</h5>
                    {% if nbSpotsWaiting %}
                    <p class="card-text"><span>{{ nbSpotsWaiting }}</span></p>
                    <p class="card-text">Spots actuellement en attente de traitement</p>
                    {% else %}
                    <p class="card-text">Aucun spots en attente de traitement pour le moment!</p>
                    {% endif %}
                    <a href="{{ path('mon-compte/spots-en-attente') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
            <div class="card" style="width: 45%;">
                <div class="card-body">
                    <h5 class="card-title">COMMENTAIRES signalés à traiter</h5>
                    {% if allResult.totalNbCommentsIsReport %}
                    <p class="card-text"><span>{{ allResult.totalNbCommentsIsReport }}</span></p>
                    <p>Commentaires signalés en attente de traitement</p>
                    {% else %}
                    <p class="card-text">Pas encore de commentaires signalés à traiter !</p>
                    {% endif %}
                    <a href="{{ path('mon-compte/commentaires-signales') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        {% endif %}

            {% if not is_granted('ROLE_MODERATEUR') %}
                <div class="row">
            <div class="card" style="width: 45%;">
                <div class="card-body">
                    <h5 class="card-title">SPOTS EN ATTENTE</h5>
                    {% if resultByUser.totalNbSpotsWaitingByUser %}
                        <p class="card-text"><span>{{ resultByUser.totalNbSpotsWaitingByUser }}</span></p>
                        <p>de vos spots sont en attente de validation
                    . Patience, ils vont bientôt être validé</p>
                    {% else %}
                        <p class="card-text">Tous vos spots ont été validé pour le moment!</p>
                    {% endif %}
                    <a href="{{ path('mon-compte/mes-spots-en-attente') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
            <div class="card" style="width: 45%;">
                <div class="card-body">
                    <h5 class="card-title">SPOTS REFUSES</h5>
                    {% if resultByUser.totalNbSpotsRejectedByUser %}
                    <p class="card-text"><span>{{ resultByUser.totalNbSpotsRejectedByUser }}</span></p>
                        <p>de vos spots ont été refusés. Vous pouvez les modifier et les re soumettre.
                       </p>
                    {% else %}
                        <p class="card-text">Bonne nouvelle ! Aucun de vos spots n'a été refusé!</p>
                    {% endif %}
                    <a href="{{ path('mon-compte/mes-spots-rejetes') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="card" style="width: 45%;">
                <div class="card-body">
                    <h5 class="card-title">MES COMMENTAIRES SIGNALES</h5>
                    {% if resultByUser.totalNbCommentsReportByUser %}
                    <p class="card-text"><span>{{ resultByUser.totalNbCommentsReportByUser }}</span></p>
                    <p class="card-text">Commentaires signalés ! </p>
                    {% else %}
                    <p class="card-text">Pas encore de commentaires signalés !</p>{% endif %}

                    <a href="{{ path('mon-compte/mes-commentaires-signales') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        <div class="card" style="width: 45%;">
            <div class="card-body">
                <h5 class="card-title">SPOTS FAVORIS</h5>
                {% if resultByUser.totalNbFavorisByUser %}
                    <p class="card-text"><span>{{ resultByUser.totalNbFavorisByUser }}</span></p>
                    <p class="card-text">spot(s) dans vos favoris actuellement !</p>
                {% else %}
                    <p class="card-text">Vous n'avez pas encore de spots favoris</p>
                {% endif %}
                <a href="{{ path('mon-compte/mes-spots-favoris') }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="card" style="width: 29%;">
                <div class="card-body">
                    <h5 class="card-title">COMMENTAIRES</h5>
                    {% if resultByUser.totalNbCommentsByUser %}
                    <p class="card-text"><span>{{ resultByUser.totalNbCommentsByUser }}</span></p>
                    <p class="card-text">commentaires laissés !</p>
                    {% else %}
                        <p class="card-text">Vous n'avez pas encore laissé de commentaires</p>
                    {% endif %}
                </div>
            </div>
            <div class="card" style="width: 29%;">
                <div class="card-body">
                    <h5 class="card-title">LIKE</h5>
                    {% if resultByUser.totalNbLovesByUser %}
                    <p class="card-text"><span>{{ resultByUser.totalNbLovesByUser }}</span></p>
                    <p class="card-text">LIKE ME laissé(s) sur des spots !</p>
                    {% else %}
                        <p class="card-text">Vous n'avez pas encore LIKE ME</p>
                    {% endif %}
                </div>
            </div>
            <div class="card" style="width: 29%;">
                <div class="card-body">
                    <h5 class="card-title">TREE</h5>
                    {% if resultByUser.totalNbTreesByUser %}
                    <p class="card-text"><span>{{ resultByUser.totalNbTreesByUser }}</span></p>
                    <p class="card-text">TREE ME donné(s)!</p>
                    {% else %}
                    <p class="card-text">Vous n'avez pas encore TREE ME</p>
                    <p class="card-text">N'hésitez pas à le faire si l'endroit est préservé !</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/time.js') }}"></script>
{% endblock %}