{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}
    {% include 'account/parts/navAccount.html.twig' %}
{% endblock %}

{% block body %}

    <section class="modify">
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Modifier mon spot</h2>
                    </div>
                </div>
            </div>
        </section>

            <div class="row">
                <div class="col-md-6">
                    {{ form_start(formModify) }}
                    <div class="form-group">
                        <div class="img">
                        {{ form_row(formModify.pictureFile, {'attr': {'class': 'custom-file-input'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(formModify.category) }}
                        {{ form_row(formModify.title) }}
                        {{ form_row(formModify.description) }}
                        {{ form_row(formModify.infosSupp) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Modifier mon spot</button>
                {{ form_end(formModify) }}
            </div>
            </div>
        </section>


{% endblock %}


