{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Commentaires signalés à modérer!</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="account-all-spots-waiting">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>user</th>
                                <th>message</th>
                                <th>Valider</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            {% if commentsReport %}
                            {% for comment in commentsReport %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.user }}</td>
                                <td>{{ comment.message }}</td>
                                <td><a href="{{ path('valider-commentaires',{'id': comment.id}) }}" class="btn btn-success">Valider</a> </td>
                                <td><a href="{{ path('supprimer-commentaires', {'id' : comment.id}) }}" class="btn btn-danger">Supprimer</a> </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <p>Pas encore de commentaires à modérer!</p>
                            {% endif %}
                        </table>
                    </div>



                </div>
            </div>

        </section>
    </div>


{% endblock %}


