{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}
    {% include 'account/parts/navAccount.html.twig' %}
{% endblock %}

{% block body %}

    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Motif du rejet de mon spot</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="account-spots-rejected">
            <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            {% for reject in rejectedReason %}
                            <p class="display-6">L'un de tes spots n'a pas passé l'étape de validation. Pas de problème, c'est surement pas grand chose.
                            </p>
                            <p class="display-6">Consultes bien les raisons et n''hésites pas à relire la fiche du spot!
                            </p>

                            <p class="lead">Raison :
                                {{ reject.situation }}
                                {{ reject.picture }}
                                {{ reject.content }}
                            </p>
                            <hr class="my-4">
                            <p>Informations supplémentaires :
                                {{ reject.informations }}
                            </p>
                            <a class="btn btn-success btn-lg" href="{{ path('mon-compte/fiche_spot') }}" role="button">Voir la fiche du Spot</a>
                            <a class="btn btn-primary btn-lg" href="{{ path('mon-compte/mes-spots-rejetes')}}" role="button">Retour</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
