{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
<div class="account-content">
    <section id="account-title">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h2>Mes spots rejetés</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="account-spots-rejected">
        <div class="row">
            <div class="responsive-table">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Date</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Motif du refus</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% if rejectedSpots %}
                        <p>Tu as un spot rejeté? Pas de panique , c'est qu'un des points ne colle pas avec la fiche
                            du spoteur ! Modifie ton spot et en validant ta modif, il va repartir en attente de
                            validation !</p>
                        <p>Une fois validé, tu le retrouveras dans tes spots validés et surtout il apparaitra sur le site !</p>
                        {% for spot in rejectedSpots %}
                            <tr>
                                <td>{{ spot.id }}</td>
                                <td><img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap"></td>
                                <td>{{ spot.date|date('d/m/Y') }}</td>
                                <td>{{ spot.title }}</td>
                                <td>{{ spot.description|length > 20 ? spot.description|slice(0,20) ~'...': spot.description }}</td>
                                <td><a href="{{ path('mon-compte/mes-spots-rejetes/motif', {id : spot.id}) }}" class="btn btn-primary">Voir le Motif</a></td>
                                <td><a href="{{ path('mon-compte/spot/modification', {id : spot.id}) }}" class="btn btn-success">Modifier</a></td>
                                <td><a href="{{ path('mon-compte/choice-status', { id : spot.id, status : 10 }) }}" class="btn btn-danger">Supprimer</a></td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <p>Bravo ! Tu n'as pas de spots refusés!</p>
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

   {# {% for reject in rejectedReason %}
        {{ reject.situation }}
        {{ reject.picture }}
        {{ reject.content }}
    {% endfor %}#}

    {% endblock %}
