{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}
    {% include 'account/parts/navAccount.html.twig' %}
{% endblock %}

{% block body %}

<div class="account-content">
    <section id="account-title">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h2>Mes spots rejetés</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="account-spots-rejected">
            <div class="responsive-table">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Spot</th>
                            <th class="img">Image</th>
                            <th class="date">Date</th>
                            <th class="title">Titre</th>
                            <th class="description">Description</th>
                            <th>Motif du refus</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if rejectedSpots %}
                        <p>Tu as un spot rejeté? Pas de panique , c'est qu'un des points ne colle pas avec la fiche
                            du spoteur ! Modifie ton spot et en validant ta modif, il va repartir en attente de
                            validation !</p>
                        <p>Une fois validé, tu le retrouveras dans tes spots validés et surtout il apparaitra sur le site !</p>
                        {% for spot in rejectedSpots %}
                            <tr>
                                <td>{{ spot.id }}</td>
                                <td class="img"><img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap"></td>
                                <td class="date">{{ spot.date|date('d/m/Y') }}</td>
                                <td class="title">{{ spot.title }}</td>
                                <td class="description">{{ spot.description|length > 20 ? spot.description|slice(0,20) ~'...': spot.description }}</td>
                                <td><a href="{{ path('mon-compte/mes-spots-rejetes/motif', {id : spot.id}) }}" class="btn btn-primary">Voir le Motif</a></td>
                                <td><a href="{{ path('mon-compte/spot/modification', {id : spot.id}) }}" class="btn btn-success">Modifier</a></td>
                                <td><a href="{{ path('mon-compte/choice-status', { id : spot.id, status : 10 }) }}" class="btn btn-danger">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>Bravo ! Tu n'as pas de spots refusés!</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}
