{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Mes spots validés</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            {% if spots %}
                {% for spot in spots %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-spots">
                                <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-spot-title">#{{ spot.id }} {{ spot.title }}</p>
                                    <p class="card-spot-description">{{ spot.description|length > 20 ? spot.description|slice(0,20) ~'...': spot.description }}</p>
                                    <a href="{{ path('accueil/spot', { id : spot.id }) }}" class="btn btn-primary">Voir</a>
                                    <a href="{{ path('mon-compte/mes-spots-valides/modification', {id : spot.id}) }}" class="btn btn-success">Modifier</a>
                                    <a href="#SuppressionSpot" data-toggle="modal" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---- MODAL POUR SUPPRESSION SPOT PAR USER ------->
                    <div class="modal fade" id="SuppressionSpot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-header">
                                            ATTENTION : Cette action est définitive !
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote">
                                                <p>Etes vous sur de vouloir supprimer ce spot ?</p>
                                                <footer class="blockquote-footer">
                                                    <a href="{{ path('mon-compte/choice-action', { id : spot.id, status : 0 }) }}" class="btn btn-danger">Oui , je supprime ce Spot</a>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}


