{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Mes spots validés</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="account-spots-accepted">
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container">
        <div class="row">
            {% if spots %}
                {% for spot in spots %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-spots">
                                <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-spot-title">#{{ spot.id }} {{ spot.title|length > 14 ? spot.title|slice(0,14) ~'...': spot.title }}</h5>
                                    <p class="card-spot-description">{{ spot.description|length > 20 ? spot.description|slice(0,20) ~'...': spot.description }}</p>
                                    <a href="{{ path('mon-compte/oneSpot', { id : spot.id }) }}" class="btn btn-primary">Voir</a>
                                    <a href="{{ path('mon-compte/spot/modification', {id : spot.id}) }}" class="btn btn-success">Modifier</a>
                                    <a href="{{ path('mon-compte/choice-status', { id : spot.id, status : 11 }) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
            </div>
        </section>
    </div>
{% endblock %}


