{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Mes commentaires signalés</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="account-all-spots-waiting">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>user</th>
                                <th>message</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            {% if commentsReportByUser %}
                                {% for comment in commentsReportByUser %}
                                    <tr>
                                        <td>{{ comment.id }}</td>
                                        <td>{{ comment.user }}</td>
                                        <td>{{ comment.message }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <p>Vous n'avez pas de commentaires signalés !!</p>
                            {% endif %}
                        </table>
                    </div>



                </div>
            </div>
        </section>
    </div>


{% endblock %}


