{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include 'home/parts/navHome.html.twig' %}
    {% include 'home/parts/coverHome.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
    <!-------------------SECTION DERNIERS SPOTS-------------->

        <section id="landing-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Les derniers spots</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="lastSpotsHome">
        <div class="row">
            {% if spots %}
                {% for spot in spots %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-spots">
                                <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-spot-title"> <i class="fa fa-calendar">  {{ spot.date|date("d/m/Y") }}</i> <i class="fa fa-user"> {{ spot.user }}</i></h5>

                                    <p class="card-spot-description">Spot #{{ spot.id }}</p>
                                    <p class="card-spot-description">{{ spot.title }}</p>
                                    <p class="card-spot-description">{{ spot.description|length > 20 ? spot.description|slice(0,20) ~'...': spot.description }}</p>
                                    <a href="{{ path('spot', { id : spot.id }) }}" class="btn">Voir le spot</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        </section>


        <!-------------------SECTION ASSOCIATION-------------->

        <section id="subscribe">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="subscribe-title">Recevoir la newsletter</h3>
                        <p class="subscribe-text">Tous les derniers spots postés et la vie d'une association !</p>
                    </div>
                    <div class="col-md-4 subscribe-btn-container">
                        <a class="subscribe-btn" href="#">M'inscrire</a>
                    </div>
                </div>
            </div>
        </section>

    <!-------------------SECTION STATS------------------>

        <section id="landing-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div id="locale"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="landing-stats-content">
            <div class="row">
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Utilisateurs</h5>
                        <h5 class="card-text">{{ result.totalNbUsers }}</h5>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Spots</h5>
                        <h5 class="card-text">{{ result.totalNbSpots }}</h5>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">J'aime</h5>
                        <h5 class="card-text">{{ result.totalNbLoves }}</h5>
                    </div>
                </div>

                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Trees</h5>
                        <h5 class="card-text">{{ result.totalNbTrees }}</h5>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Commentaires</h5>
                        <h5 class="card-text">{{ result.totalNbComments }}</h5>
                    </div>
                </div>
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Favoris</h5>
                        <h5 class="card-text">{{ result.totalNbFavoris }}</h5>
                    </div>
                </div>
            </div>
        </section>
    <!------------------------------SECTION OPINION--------------->
    <section id="landing-title">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3>Derniers avis postés sur YouSpot !</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-opinion-content">
        <div id="landing-opinion-content">

            <p><a class="btn btn-opinion  js-scroll-trigger" href="{{ path('les-opinions') }}">Voir tous les avis</a></p>
            <div class="container-landing-opinion-content">
                {% for opinion in opinions %}
                <div class="flipper">
                    <div class="front-landing-opinion-content">
                        <p>Opinion : {{ opinion.id }}</p>
                        <p class="date">{{ opinion.date|date('d/m/Y') }}</p>
                        <p class="caption"></p>
                    </div>
                    <div class="back-landing-opinion-content">
                            <h1>{{ opinion.user }}</h1>
                        <p class="date">{{ opinion.date|date('d/m/Y') }}</p>
                        <p class="description">{{ opinion.message }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    </div>
{% endblock %}
{% block footer %}
    {% include 'home/parts/footerHome.html.twig' %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/time.js') }}"></script>
{% endblock %}
