{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block nav %}
    {% include 'home/parts/navHome.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Un spot</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="one-spot">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="map"></div>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-infos"><i class="fa fa-map-marker"> {{ spot.infosSupp }}</i></p>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="card-love">{{ form(formLove,{'action': path('accueil/spot_love',{'id': spot.id})}) }}<p>
                                        <hr class="mb-4">
                                        <p> <i class="fa fa-heart"> {{ resultBySpot.totalNbLovesBySpot }}</i></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-tree">{{ form(formTree,{'action': path('accueil/spot_tree', {'id': spot.id})}) }}<p>
                                        <hr class="mb-4">
                                        <p><i class="fa fa-tree"> {{ resultBySpot.totalNbTreesBySpot }}</i></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-favoris">{{ form(formFavoris, {'action': path('accueil/spot_favoris', {'id': spot.id})}) }}</p>
                                        <hr class="mb-4">
                                        <p><i class="fa fa-folder"> {{ resultBySpot.totalNbFavorisBySpot }}</i></p>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                {% for message in app.flashes('warning') %}
                                        <div class="alert alert-warning" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('info') %}
                                        <div class="alert alert-info" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                                <hr class="mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="card-user"><span>Spoté par : </span>{{ spot.user }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="card-date"><span>Le :  </span>{{ spot.date|date("d/m/Y") }}</p>
                                        </div>
                                    </div>
                                    <p class="card-category"><i class="fa fa-thumb-tack"> {{ spot.category }}</i></p>
                                    <h5 class="card-title"><span>Spot #</span>{{ spot.id }} - {{ spot.title }}</h5>
                                    <hr class="mb-4">
                                    <p class="card-description">"{{ spot.description }}"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Commentaires</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="comments">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% if resultBySpot.totalNbCommentsBySpot %}
                            {{ resultBySpot.totalNbCommentsBySpot }} commentaire(s) sur ce Spot !
                        {% else %}
                            Pas encore de commentaires sur ce spot
                        {% endif %}
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {{ form_start(formComment) }}
                        {{ form_label(formComment.message) }}
                        {{ form_widget(formComment.message) }}
                        <hr class="mb-4">
                        <button type="submit" id="comment" class="btn">Envoyer</button>
                        {{ form_end(formComment) }}
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% if  spot.comments %}
                            {% for comment in spot.comments %}
                                <div class="comment" id="comment- {{ comment.id }}">
                                    <p>Commentaire {{ comment.id }}  laissé par : <span>{{ comment.user }}</span> le : <span>{{ comment.date|date("d/m/Y à H:i") }}</span></p>
                                    <p class="message">"{{ comment.message }}"</p>
                                    <div class="bouton">
                                        <a href="{{ path('comment-report', {'id': comment.id }) }}" class="btn btn-danger">Signaler</a>
                                    </div>
                                    <div class="report">
                                        {% if comment.report == 1 %}
                                            <p><i class="fa fa-exclamation-triangle"></i> Ce commentaire a été signalé. Il est en attente de modération !</p>
                                        {% endif %}
                                    </div>
                                    <hr class="mb-4">
                                    {% endfor %}
                                    {% endif %}
                                </div>
                        {% for message in app.flashes('danger') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('primary') %}
                            <div class="alert alert-primary" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    </div>




    <!-- JAVASCRIPT FILES -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
        function initMap(position)
        {
            var map = L.map('map').setView([position.coords.latitude, position.coords.longitude],9);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Données de la carte &copy; <a href="http://www.openstreetmap.org/#map=5/51.500/-0.100">Open Street Map</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken:'pk.eyJ1Ijoic3RlcGhhbmllaG91c3NpbiIsImEiOiJjamg1ejFrNDYxZnNyMnFsbmsxOXFoNmwxIn0.Cfc6uy_CpLtKoUjAKMQelg'
            }).addTo(map);
            var $element =
                [
                    ["{{ spot.infosSupp }}", {{ spot.latitude }},{{ spot.longitude }}],
                ];
            for(var $i= 0; $i < $element.length; $i++)
            {
                var marker = new L.marker([$element[$i][1], $element[$i][2]])
                    .bindPopup($element[$i][0])
                    .addTo(map)
            }
        }

        if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(initMap);
    </script>


{% endblock %}
{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
{% endblock %}

