<section class="footer">
    <div class="container">

        <div class="row">
                <ul>
                    <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                    <li><a href="{{ path('fiche-spot') }}">La fiche du Spot</a></li>
                    <li><a href="{{ path('faq') }}">Foire aux questions</a></li>
                    <li><a href="{{ path('legalNotice') }}">Mentions légales</a></li>
                    <li><a href="{{ path('termsOfService') }}">Conditions générales d'utilisation</a></li>
                </ul>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="title">YouSpot ! &copy Tous droits réservés . Stéphanie Houssin</p>
            </div>
        </div>
    </div>
</section>