{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
   <!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <style>
        body { margin:0; padding:0; }
        #mapid { width:100%;
            height: 80%;}
    </style>
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#">Logo</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('tous-les-spots') }}">Tous les Spots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('je-cherche-un-spot') }}">Je cherche un spot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('mon-compte') }}">Mon compte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-8 page_marge_top">
                <hr class="mb-4">
                <h2>Spot</h2>
                <hr class="mb-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="smap">
                    <div id="mapid"></div>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2">
                {{ form_start(spot) }}
                <div class="form-group">
                    {{ form_widget(spot, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <button type="submit" class="btn btn-primary" name="submit"  id="inscription">Envoyer</button>
                {{ form_end(spot) }}
            </div>
        </div>
        </div>
    </div>

        <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
            function initMap(position){
                var map = L.map('mapid').setView([position.coords.latitude, position.coords.longitude], 15);
                var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map);
                // create the tile layer with correct attribution
                var tuileUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
                var attrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
                var osm = L.tileLayer(tuileUrl, {
                    minZoom: 8,
                    maxZoom: 17,
                    attribution: attrib
                });
                var popup = L.popup();
                function onClickAddMarker(e){
                    var ll = e.latlng;
                    popup
                        .setLatLng(ll)
                        .setContent("Vous avez placé un marqueur à la position "+ e.latlng.toString())
                        .openOn(map);
                    marker
                        .setLatLng(ll)
                        .update();
                    $('#spot_latitude').val(ll.lat);
                    $('#spot_longitude').val(ll.lng);
                }
                osm.addTo(map);
                map.on('click', onClickAddMarker);
            }

            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(initMap);
            }

    </script>
{% endblock %}


