{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <style>
        #map {
            width: 100%;
            height: 360px;

        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block nav %}
    {% include 'home/parts/navHome.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Un spot</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="one-spot">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Emplacement du Spot</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><i class="fa fa-map-marker"> {{ spot.infosSupp }}</i></p>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>{{ form(formLove,{'action': path('spot_love',{'id': spot.id})}) }}<i class="fa fa-heart"> {{ resultBySpot.totalNbLovesBySpot }}</i></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{{ form(formTree,{'action': path('spot_tree', {'id': spot.id})}) }}<i class="fa fa-tree"> {{ resultBySpot.totalNbTreesBySpot }}</i></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{{ form(formFavoris, {'action': path('spot_favoris', {'id': spot.id})}) }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    {% if resultBySpot.totalNbCommentsBySpot %}
                                {{ resultBySpot.totalNbCommentsBySpot }} commentaires sur ce Spot !
                                {% else %}
                                    Pas encore de commentaires sur ce spot
                                {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Informations du Spot</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><i class="fa fa-user"> {{ spot.user }}</i></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><i class="fa fa-calendar">  {{ spot.date|date("d/m/Y") }}</i></p>
                                    </div>
                                </div>
                                <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                                <div class="card-body">
                                    <p><i class="fa fa-thumb-tack"> {{ spot.category }}</i></p>
                                    <h5 class="card-spot-title">Spot #{{ spot.id }} - {{ spot.title }}</h5>
                                    <p class="card-spot-description">{{ spot.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="comments">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                        {{ form_start(formComment) }}
                            {{ form_label(formComment.message) }}
                            {{ form_widget(formComment.message) }}
                        <button type="submit" id="comment" class="btn">Envoyer</button>
                        {{ form_end(formComment) }}
                        </div>
                    </div>
                </div>
            {% for comment in spot.comments %}
                {% if comment.parent == null %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.user }} {{ comment.date|date("d/m/Y") }}</h5>
                                <p class="card-text">{{ comment.message }}</p>
                                <button type="submit">Signaler</button>
                                <button type="submit">Répondre</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for child in comment.children %}
                    <div class="card-body">
                        <h5 class="card-title">{{ child.date|date("d/m/Y à H:i", "Europe/Paris") }}</h5>
                        <p class="card-text">{{ child.message }}</p>
                        <a class="btn-default btn btn-reply" href=""><p>Signaler</p></a>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </section>
        </div>




    <!-- JAVASCRIPT FILES -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<script>
    function initMap(position)
    {
        var map = L.map('map').setView([position.coords.latitude, position.coords.longitude],9);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Données de la carte &copy; <a href="http://www.openstreetmap.org/#map=5/51.500/-0.100">Open Street Map</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken:'pk.eyJ1Ijoic3RlcGhhbmllaG91c3NpbiIsImEiOiJjamg1ejFrNDYxZnNyMnFsbmsxOXFoNmwxIn0.Cfc6uy_CpLtKoUjAKMQelg'
        }).addTo(map);

        var $element =
            [
                ["{{ spot.infosSupp }}", {{ spot.latitude }},{{ spot.longitude }}],

            ];

        for(var $i= 0; $i < $element.length; $i++)
        {
            var marker = new L.marker([$element[$i][1], $element[$i][2]])
                .bindPopup($element[$i][0])
                .addTo(map)
        }
    }
    if (navigator.geolocation)
        navigator.geolocation.getCurrentPosition(initMap);

</script>


{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
{% endblock %}


