{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#">Logo</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('tous-les-spots') }}">Tous les Spots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('je-spote') }}">Je spote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('je-cherche-un-spot') }}">Je cherche un spot</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('mon-compte') }}">Mon compte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 page_marge_top">
                    <hr class="mb-4">
                    <h2>Un spot</h2>
                    <hr class="mb-4">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-spots">
                        {{ spot.latitude }}
                        {{ spot.longitude }}
                        <p>Catégorie</p>
                        <p>adresses</p>
                        <button type="submit">Like me</button>
                        <button type="submit">Tree me</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-spots">
                        <div class="col-md-6 col-md-6">
                            <p>Date : {{ spot.date|date("d/m/Y") }}</p>
                        </div>
                        <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-spot-title">#{{ spot.id }} {{ spot.title }}</h5>
                            <p class="card-spot-description">{{ spot.description }}</p>
                            <button type="button">Enregistrer dans mes favoris</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form, {'attr' : {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" id="comment">Je commente ce spot</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    {% if spot.comments %}
                        {% for comment in spot.comments %}
                            <p class="card-date">{{ comment.date|date("d/m/Y") }}</p>
                            {# <p class="card-user">{{ comment.user }}</p>#}
                            <p class="card-message">{{ comment.message }}</p>
                        {% else %}
                            <p>Il n'y a pas encore de commentaires sur ce spot</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}


