{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <style>
        div#map {
            width: 100%;
            height: 200px;
            margin: 0;
            padding: 0;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#">Logo</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('tous-les-spots') }}">Tous les Spots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('je-spote') }}">Je spote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('je-cherche-un-spot') }}">Je cherche un spot</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('mon-compte') }}">Mon compte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 page_marge_top">
                    <hr class="mb-4">
                    <h2>Un spot</h2>
                    <hr class="mb-4">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-spots">

                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title">Emplacement du Spot</h5>
                            </div>
                            <div class="col-md-3">
                                <p><i class="fa fa-heart"> chiffre</i></p>
                            </div>
                            <div class="col-md-3">
                                <p><i class="fa fa-tree"> chiffre</i></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                        <div id="map"></div>
                      {#  {{ spot.latitude }}
                        {{ spot.longitude }}#}
                        </div>
                        <p><i class="fa fa-thumb-tack"> Catégorie</i></p>
                        <p><i class="fa fa-map-marker"> Adresses</i></p>
                        <button type="submit"><i class="fa fa-heart"> Like me</i></button>
                        <button type="submit"><i class="fa fa-tree"> Tree me</i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-spots">
                        <h5 class="card-title">Informations du Spot</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <p><i class="fa fa-user"> Pseudo</i></p>
                            </div>
                            <div class="col-md-6">
                                <p><i class="fa fa-calendar">  {{ spot.date|date("d/m/Y") }}</i></p>
                            </div>
                        </div>
                        <img class="card-img-top" src="{{ asset('uploads/spots/'~spot.picture) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-spot-title">#{{ spot.id }} {{ spot.title }}</h5>
                            <p class="card-spot-description">{{ spot.description }}</p>
                            <button type="button">Enregistrer dans mes favoris</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    {{ form_start(form_comment) }}
                    <div class="form-group">
                        {#{{ form_widget(form, {'attr' : {'class': 'form-control'}}) }}#}
                        {{ form_label(form_comment.message) }}
                        {{ form_widget(form_comment.message) }}
                    </div>
                    <button type="submit" id="comment" class="btn-lg btn-block">Je commente ce spot</button>
                    {{ form_end(form_comment) }}
                </div>
            </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <p>Date du jour</p>
                        <div class="card-body">
                            <h5 class="card-spot-title">
                                {% if nbComments %}
                                    <p>{{ nbComments }} commentaires sur ce Spot !</p>
                                {% else %}
                                    <p>Pas encore de commentaires sur ce spot</p>
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        <hr class="mb-4">
        <div class="row">
                <hr class="mb-4">
                Commentaires
            <hr class="mb-4">
        </div>

                        {% for comment in spot.comments %}
                            {% if comment.parent == null %}
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">User le : {{ comment.date|date("d/m/Y") }}</h5>
                                        <p class="card-text">{{ comment.message }}</p>
                                            <button type="submit">Signaler</button>
                                            <button type="submit">Répondre</button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% for child in comment.children %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ child.date|date("d/m/Y à H:i", "Europe/Paris") }}</h5>
                                        <p class="card-text">{{ child.message }}</p>
                                    <a class="btn-default btn btn-reply" href=""><p>Signaler</p></a>
                                </div>
                            {% endfor %}
                        {% endfor %}
        </div>


    {#    {{ form_start(form_commentaire) }}
        <div class="form-group">
            {{ form_widget(form_commentaire, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <button type="submit" id="commentaire">Répondre</button>
        <button type="submit" id="signal">Signaler</button>
        {{ form_end(form_commentaire) }}

        {% if comment.commentaire %}
            {% for commentaire in comment.commentaires %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User le : {{ commentaire.date|date("d/m/Y") }}</h5>
                            <p class="card-text">{{ commentaire.message }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}#}
        </div>

{% endblock %}
{% block javascripts %}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlcGhhbmllaG91c3NpbiIsImEiOiJjamg1ejFrNDYxZnNyMnFsbmsxOXFoNmwxIn0.Cfc6uy_CpLtKoUjAKMQelg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 9,
            center: [2.333333, 48.866667]
        });

    </script>
{% endblock %}


