<div class="nav-account-menu">
    <div class="brand">Espace personnel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="{{ path('mes-infos') }}">Mes infos</a>
            </li>
            <li>
                <a href="{{ path('mes-spots-valides') }}">Mes Spots validés</a>
            </li>
            <li>
                <a href="{{ path('mes-spots-en-attente') }}">Mes Spots en attente de validation</a>
            </li>
            <li>
                <a href="{{ path('mes-spots-favoris') }}">Mes Spots favoris</a>
            </li>
            <li>
                <a href="{{ path('commentaires-signales') }}">Mes commentaires signalés</a>
            </li>
            <li>
                <a href="{{ path('mes-stats') }}">Mes Stats</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">Nous contacter</a>
            </li>
        </ul>
    </div>
</div>