<div class="nav-account-menu">
    <div class="brand">Espace personnel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li>
                <a href="{{ path('mon-compte') }}">Accueil Espace personnel</a>
            </li>
            {% if is_granted('ROLE_MODERATEUR') %}
                <li>
                    <a href="{{ path('spots-en-attente') }}">Spots en attente de validation</a>
                </li>
                <li>
                    <a href="{{ path('commentaires-signales') }}">Commentaires signalés</a>
                </li>
            {% endif %}

            <li>
                <a href="{{ path('mes-infos') }}">Mes infos</a>
            </li>
            <li>
                <a href="{{ path('mes-spots-valides') }}">Mes Spots validés</a>
            </li>

            {% if is_granted('ROLE_MODERATEUR') == false %}
            <li>
                <a href="{{ path('mes-spots-en-attente') }}">Mes Spots en attente de validation</a>
            </li>
            {% endif %}

            <li>
                <a href="{{ path('mes-spots-favoris') }}">Mes Spots favoris</a>
            </li>
            {% if is_granted('ROLE_MODERATEUR') == false %}
            <li>
                <a href="{{ path('mes-commentaires-signales') }}">Mes commentaires signalés</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path('contact') }}">Nous contacter</a>
            </li>
            <li>
                <a href="{{ path('admin') }}">Administration</a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a>
            </li>
        </ul>
    </div>
</div>