{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% if user %}
        {% include 'home/parts/navHome.html.twig' %}
        {% else %}
            {% include 'landing/parts/navLanding.html.twig' %}
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Formulaire de contact</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <hr class="mb-4">
                <h2>Contactez nous</h2>
                <hr class="mb-4">
                {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {{ form_start(contact) }}
                <div class="form-group">
                    {{ form_widget(contact, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-3 offset-md-4">
                <button type="submit" class="btn" name="submit"  id="connexion">Envoyer</button>
                </div>
                    {{ form_end(contact) }}
            </div>
        </div>
        </section>
    </div>

{% endblock %}
{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}
{% block javascript %}
{% endblock %}