{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <style>
        #map {
            width: 100%;
            height: 250px;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block nav %}
    {% include 'landing/parts/navLanding.html.twig' %}
    {% include 'landing/parts/coverLanding.html.twig' %}
{% endblock %}
{% block body %}
<div class="container">

    <!-------------------SECTION YOUSPOT------------------>
        <section id="section-title">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Sur YouSpot, qu'est ce qu'on fait ? </h3>
                    </div>
                </div>
        </section>

        <section class="landing-youSpot">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-youSpot">
                            <div class="section-youSpot-btn">
                                <a class="btn btn-cover" href="{{ path('fos_user_registration_register') }}">Partager !</a>
                            </div>
                            <h4 class="section-youSpot-title">Tu partages !</h4>
                            <p class="description">
                                Tu connais un endroit top où tu n'as pas l'impression d'être en ville !
                                Tu as l'impression d'être en fôret , à la mer ,à la campagne.
                                Tu as trouvé le spot idéal pour le partager sur YouSpot !
                                Spoter ton super spot va te prendre 2 mn !
                            </p>
                            <ul class="description">
                                <li>Géolocalise toi ou bouge l'îcone pour qu'on sache où aller !</li>
                                <li>Prends une photo pour qu'on voit comme c'est beau  </li>
                                <li>Remplis le petit formulaire pour qu'on comprenne ton spot </li>
                                <li>Et valide le !</li>
                                <li>Il apparaîtra par la magie d'un spoteur Modo!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-youSpot">
                            <div class="section-youSpot-btn">
                                <a class="btn btn-cover" href="{{ path('fos_user_registration_register') }}">Chercher !</a>
                            </div>
                            <h4 class="section-youSpot-title">Tu cherches !</h4>
                            <p class="description">Tu as envie de découvrir de nouveaux endroits ?
                                Tu en as marre de retrouver tes potes au bord d'une route ?
                                Tu as envie de respirer et d'être au vert mais sans sortir de ta ville
                                Ici tu vas trouver ton spot idéal en 2 mn et autour de toi !
                            </p>
                            <ul class="description">
                                <li>geolocalise toi ou bouge l'îcone pour te plâcer ou tu cherches</li>
                                <li>Les spots autour de toi apparaîssent</li>
                                <li>En cliquant sur les îcones, tu as quelques infos sur le spot</li>
                                <li>Tu peux filtrer par catégorie ou par spoteur</li>
                                <li>Si tu veux voir un spot en détails, ouvre le ! </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-youSpot">
                            <div class="section-youSpot-btn">
                                <a class="btn btn-cover" href="{{ path('fos_user_registration_register') }}">Communiquer !</a>
                            </div>
                            <h4 class="section-youSpot-title">Tu communiques !</h4>
                            <p class="description">
                                Derrière YouSpot , une communauté de Spoteurs  !
                                Commentes les spots !
                                Poses ou réponds aux questions
                            </p>
                            <ul class="description">
                                <li>Sous chaques spots tu peux laisser un commentaire</li>
                                <li>Tu peux répondre aux commentaires  </li>
                                <li>Tu peux signaler un commentaire pas sympa ou injurieux</li>
                                <li>Et il sera modéré par un Modo!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-youSpot">
                            <div class="section-youSpot-btn">
                                <a class="btn btn-cover" href="{{ path('fos_user_registration_register') }}">Préserver !</a>
                            </div>
                            <h4 class="section-youSpot-title">Tu préserves ton EcoSystème !</h4>
                            <p class="description">
                                Tu as un super spot et il est préservé ? Dis le !
                                Tu vas sur un spot qui est respecté alors clique sur TREE ME!
                                Tu trouves qu'un spot n'est pas respecté , alors commentes le !
                                Ce spot est préservé ? Alors laisses l'endroit tel que tu l'as trouvé !
                            </p>
                            <ul class="description">
                                <li>Ramasser et regrouper ses détritus : quelques secondes </li>
                                <li>Les mettre à la poubelle : quelques secondes</li>
                                <li>Rassembler les mégots dans un cendrier de fortune : Si peu </li>
                                <li>Jeter le cendrier de fortune à la poubelle : quelques secondes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-------------------SECTION ONE SPOT------------------>

        <section id="section-title">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Un spot c'est quoi? </h3>
                    </div>
                </div>
        </section>

        <section class="landing-oneSpot">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="card-img-top" src="{{ asset('assets/img/carteLanding.png') }}" alt="Card image cap">
                                    <p class="sub-title">* Une carte : Pas de géolocalisation ? Pas grave , déplaces le curseur! </p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="card-infos"><i class="fa fa-map-marker"> Allée du lac, Boulogne</i></p>
                                    <p class="sub-title"> * Un adresse : Parce que c'est mieux de préciser le lieux </p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="sub-title"> * Click sur les boutons pour voir!  </p>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn" data-toggle="modal" href="#modalLove">Love me!</button>
                                    <p class="sub-title"> * Des likes  </p>
                                    <hr class="mb-4">
                                    <p> <i class="fa fa-heart">10</i></p>

                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn" data-toggle="modal" href="#modalTree">Tree me!</button>
                                    <p class="sub-title"> * Des Trees  </p>
                                    <hr class="mb-4">
                                    <p><i class="fa fa-tree"> 5</i></p>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn" data-toggle="modal" href="#modalFav">Fav me!</button>
                                    <p class="sub-title"> * Des Fav  </p>
                                    <hr class="mb-4">
                                    <p><i class="fa fa-folder"> 2</i></p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Tu t'inscris juste avec ton email , un pseudo et un mot de passe </p>
                                    <p>Après ton inscription tu reçois un email </p>
                                    <p>Tu fais partis de la communauté des spoteurs!</p>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Rejoins nous !</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="card-img-top" src="{{ asset('assets/img/boisdeboulogne.jpg') }}" alt="Card image cap">
                                    <p class="sub-title">* Une photo, parce que avec, c'est mieux !</p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-user"><span>Spoté par :</span> Fanny </p>
                                    <p class="sub-title">* Un Pseudo : Derrière tout spot un spoteur </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-date"><span>Le : </span> 15 /08 / 2018</p>
                                    <p class="sub-title">* Une date : Parce qu'un spot a une date</p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="card-body">
                                <p class="card-category"><i class="fa fa-thumb-tack"> Spot Foret </i></p>
                                <p class="sub-title">* Une catégorie :  ça permet de filtrer les recherches !</p>
                                <hr class="mb-4">
                                <h5 class="card-title">Spot #25 - Endroit incroyable !</h5>
                                <p class="sub-title">* Un titre :  parlant! </p>
                                <hr class="mb-4">
                                <p class="card-description">Absolument fou ! Un calme incroyable, personne autour de nous . Un endroit vraiment
                                préservé! Vous pouvez ajouter des Tree Me sans problème ! </p>
                                <p class="sub-title">* Une description :  Détaillée si possible</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

    <!-------------------SECTION STATS------------------>


    <section id="section-title">
        <div class="row">
            <div class="col-md-12">
                <h3>Aujourd'hui YouSpot c'est !</h3>
            </div>
        </div>
    </section>

    <section class="stats">
        <div class="row">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-text">Spoteurs</h5>
                    <h5 class="card-text">{{ allResult.totalNbUsers }}</h5>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-text">Spots</h5>
                    <h5 class="card-text">{{ allResult.totalNbSpots }}</h5>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-text">J'aime</h5>
                    <h5 class="card-text">{{ allResult.totalNbLoves }}</h5>
                </div>
            </div>

            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-text">Trees</h5>
                    <h5 class="card-text">{{ allResult.totalNbTrees }}</h5>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-text">Commentaires</h5>
                    <h5 class="card-text">{{ allResult.totalNbComments }}</h5>
                </div>
            </div>
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-text">Favoris</h5>
                    <h5 class="card-text">{{ allResult.totalNbFavoris }}</h5>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-------------------SECTION NEWSLETTER-------------->

    <section class="newsletter">
        <section class="subscribe">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="subscribe-title">Recevoir la newsletter</h3>
                        <p class="subscribe-text">Tous les derniers spots postés et la vie d'une association !</p>
                    </div>
                    <div class="col-md-4 subscribe-btn-container">
                        <a class="subscribe-btn" href="{{ path('newsletter') }}">M'inscrire</a>
                 </div>
                </div>
            </div>
        </section>
    </section>

    <!-- MODALS -->
    <div class="modal fade" id="modalLove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Des J'aime !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-heart"> Like me</i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <p class="card-text">On ne réinvente pas la roue , un spot qui a des Like est un spot qu'on aime!</p>
                                <p class="card-text">Parce qu'il est complètement préservé, parce que on s'y sent ailleurs qu'en ville</p>
                                <p class="card-text">mais aussi parce que c'est un spot préservé, propre , respecté !</p>
                            </blockquote>
                        </div>
                    </div>
                    <hr class="mb-4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Des Trees !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-tree"> Tree me</i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <p class="card-text-content">La notion d'environnement à une place importante dans cette application!
                                    Le but n'est pas de pointer du doigt un endroit qui est sale mais vraiment d'éveiller
                                    la conscience de chacun sur l'importance de préserver tous les lieux sur lesquels on passe un moment !</p>
                                <p class="card-text-content">Un clic sur le bouton <i class="fa fa-tree"> Tree me</i> et c'est un spot qui sera notifié
                                    comme préservé!</p>
                            </blockquote>
                        </div>
                    </div>
                    <hr class="mb-4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalFav" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Des Fav !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-folder"> Fav me </i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <p class="card-text">Tu aimes un Spot, tu l'enregistres dans tes favoris pour le retrouver plus facilement </p>
                                <p class="card-text">Facile de le trouver : il est dans ton compte perso rubrique mes spots favoris ! </p>
                                <p class="card-text">Tu peux aussi l'uploader, comme ça le réseau n'est plus un problème ! </p>
                            </blockquote>
                        </div>
                    </div>
                    <hr class="mb-4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
{% endblock %}