{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleHeaderLanding.css') }}">
{% endblock %}

{% block body %}
    {% include 'landing/parts/navLandingInscription.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 inscription">
                <h2>Inscription</h2>
                <hr class="mb-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(inscription) }}
                <button type="submit" class="btn btn-primary" name="submit"  id="inscription">Envoyer</button>
                {{ form_end(inscription) }}
            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
{% endblock %}